*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}

.container{
	margin: 0 auto;
	text-align: center;
}

.title{
	color: #555555;
	font-family: 'Raleway', sans-serif;
}

.description{
	font-family: 'Montserrat', sans-serif;
	color: #8c8c8c;
}

.pageHeader__container{
	max-width:1170px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:25px 0;
}

.logo{
	max-width: 200px;
	margin-right: 15%;
}

.navi{
	margin-right: 5%;
}

.naviList{
	display: flex;
	flex-wrap: wrap;
	
}

.naviElement{
	text-align: center;
	flex: 1 1 auto;
	white-space:nowrap;
	font-size: 14px;
	color:#ffffff;
	word-wrap: normal;
	font-family: 'Montserrat', sans-serif;
	padding:0 15px;
}


.naviLink{
	font-size: 14px;
	color: #ffffff;
	font-weight: 300;
}

.naviLink:hover{
	color: #c7b299;
}

.naviLink:active {
	color: #ffffff;
}

.cart{
	margin-right: 2%;
}

.headerLayout{
	max-height: 1024px;
	background: url('img/bgPhoto.png') center center no-repeat;
	background-size: cover;
	padding-bottom: 15%;
}

.intro__container{
	margin-top: 275px;
	text-align: center;
	max-width:600px;
	width:90%;
}

.topText{
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
}
.middleText{
	margin-top: 20px;
	font-weight: 800;
	font-size: 52px;
	color: #ffffff;
}
.bottomText{
	max-width: 570px;
	margin: 0 auto;
	margin-top: 25px;
	font-weight: 300;
	color: #ffffff;
	line-height: 24px;
	font-size: 16px;

}

.button{
	padding:20px 35px;
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 800;
	background-color: #998675;
	text-transform: uppercase;
	border-radius: 5px;
	border:none;
	color:#fff;
	outline:none;
	text-decoration: none;
}

.button:hover{
	box-shadow:0 0 20px #998675;
	transition:0.3s;
}

.button:active{
	color: #c7b299;
	transition:0s;
	border-color:transparent;
}

.intro__button {
	margin-top: 55px;
}

.services{
	width:100%;
	padding-bottom: 90px;
}

.services__container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width:1170px;
	width:90%;
	margin:0 auto;
}

.services__item{
	margin-top: 75px;
	max-width: 275px;
	text-align: center;
}

.services__stripe{
	height:30px;
	width:26%;
	margin:0 auto;
	border-bottom:3px solid #f1eee9;
}

.services__item:hover > .services__title,
.services__item:hover > .services__stripe{
	color: #c7b299;
	border-bottom-color:#c7b199;
}


.services__img{
	height:35px;
	width:44px;
	margin:auto;
}

.services__title{
	font-size: 22px;
	font-weight: 600;
	margin-top: 25px;
}

.services__description{
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
}

.ideas{
	background-color: #fbfaf8;
	padding-top:80px ;
}

.ideas__text{
	max-width: 775px;
	margin-bottom: 70px;
	width:90%;
}

.ideas__container{
	display:grid;
	grid-template-columns:auto;
	grid-template-rows:repeat(2, auto);
	justify-items: center;
	margin:0 auto;
}

.ideas__title{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}

.ideas__description{
	font-weight: 300;
	color: #999999;
	font-size: 16px;
	max-width: 90%;
	margin: 0 auto;
	line-height: 28px;
}

.ideas__imageContainer{

}

.ideas__image{
	width:90%;
	margin:0 auto;
	height:100%
}

.puchaseStripe__title{
	font-weight: 400;
	font-size: 28px;
}

.puchaseStripe__colored{
	color: #847464;
}	

.puchaseStripe__definition{
	font-weight: 300;
	font-size: 18px;
	color: #615855;
}

.puchaseStripe{
  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  min-width: 100%;
  padding:45px 0;
}

.purchaseStripe__container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  align-content:center;
}

.puchaseStripe__button{
	margin-top:0;
	font-size: 14px;
	padding:18px 27px;
}

.puchaseStripe__text{
	text-align:left;
}

.projects__container{
	padding-top:80px;
}
.projects__title{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #555555;
}

.projects__description{
	max-width: 770px;
	margin:0 auto;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: #8c8c8c;	
	font-weight: 300;
	text-align: center;
	margin-top: 28px;
	line-height: 28px;
}

.toggles {
	margin:40px auto;
	max-width:605px;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	
}

.toggles__button{
	min-width: 70px;
	padding:10px 16px;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: #8c8c8c;
	font-weight: 300;
	background:transparent;
	text-transform:capitalize;
	outline:none;
	border:solid 1px #ebebeb;
}

.toggles__button:hover{
	background-color: #998575;
	color:#fff;
	border-color:transparent;
}

.posts{
	display:grid;
	max-width:1170px;
	margin:0 auto;
	grid-template-rows:repeat(2, 1fr);
	grid-template-columns:repeat(auto-fit,370px);
	justify-content: center;
	grid-gap:30px;	
}

.posts__item{
	width:370px;	
}


.posts__item:hover > .item__text{
	background-color:#352f2d;
	transition:0.3s;
}

.posts__item:hover .item__title,
.posts__item:hover .recentPostsItems__description{
	color:#fff;
	transition:0.3s;
}

.posts__item:hover .item__description,
.posts__item:hover .recentPostsItems__title{
	color: #c7b299;
	transition:0.3s;
}

.posts__item:hover .item__bg:after{
	border-bottom-color:#352f2d;
	transition:0.3s;
}

.posts__item:hover .date__digit{
	background-color:#c7b199;
	transition:0.3s;
}
.posts__item:hover .date__month{
	background-color:#a48d71;
	transition:0.3s;
}

.item__bg{
	height:235px;
	position: relative;
}

.item__bg:after{
	content: ''; 
    position: relative; 
    left: -150px; 
    bottom:-206px;
	border: 15px solid transparent; 
    border-bottom: 12px solid #fff; 
}



.item__bg_1pic{
	background: url('img/project1.png') 0 -15px no-repeat;
}

.item__bg_2pic{
	background: url('img/project2.png') -15px -43px no-repeat;
}

.item__bg_3pic{
	background: url('img/project3.png') -11px -6px no-repeat;
}

.item__bg_4pic{
	background: url('img/project4.png') -17px -119px no-repeat;
}

.item__bg_5pic{
	background: url('img/project5.png') -10px -19px no-repeat;
}

.item__bg_6pic{
	background: url('img/project6.png') -17px -14px no-repeat;
}


.item__text{
	text-align: left;
	padding:29px 25px;
}


.item__title{
	font-size: 20px;
	color: #c7b299;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	margin-bottom: 10px;
}

.item__description{
	font-size: 14px;
	color: #d1d1d1;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.projects__button{
	padding: 18px 43px;
	margin-top: 40px;
	margin-bottom: 80px;
}

.presentation__container{
	padding-top:210px;
	background: url('img/presentationBg.png') center 0 no-repeat;
	background-size: cover;
	padding-bottom: 260px;
	position:relative;
}

.presentation__container:after{
	content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(0,0,0,0.5);
	  z-index: 2;
	  background-size:cover;
}

.presentation__content{
	max-width:570px;
	position:relative;
	z-index: 3;
}

.presentation__playButton{
	margin-bottom: 40px;
}

.presentation__title{
	margin-bottom: 25px;
	font-size: 30px;
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.presentation__description{
	font-size: 16px;
	line-height: 28px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.mobile__container{
	display:flex;
	max-width:1130px;
	justify-content:space-around;
	flex-wrap:wrap-reverse;
	margin-top: 75px;
}

.mobile__bgimage{
	background:url('img/mobilebg.png') no-repeat;
	background-size:cover;
	min-width:450px;
	min-height:615px;
}

.mobile__content{
	max-width:665px;
	text-align:left;
	margin-top: 115px;
}

.mobile__title{
	font-size: 30px;
	color: #555555;
	font-family: "Raleway";
	font-weight: 600;
	margin-bottom: 38px;
}

.mobile__description{
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
	font-family: "Montserrat";
	font-weight: 300;
	margin-bottom: 40px;
}


.mobile__list{
	display:flex;
	flex-direction:column;
	line-height: 32px;	
	margin-left:50px;
}

.mobile__listEl{
	background: url('img/04.png') 0px 50% no-repeat;
	padding-left:50px;
	font-size: 16px;
	color: #8c8c8c;
	font-family: "Montserrat";
	font-weight: 300;
}

.counters{
	background-image: linear-gradient(90deg, #211b19 0%, #4e3326 100%);
	padding-top: 65px;
}

.counters__container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	max-width:950px;
}

.counters__item{
	width:180px;
	margin-bottom: 90px;
}

.counters__img{
	margin-bottom: 25px;
}

.counters__digit{
	font-size: 48px;
	line-height: 36px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 300;
	margin-bottom: 20px;
}

.counters__description{
	font-size: 14px;
	line-height: 20px;
	color: #c7b299;
	font-family: "Montserrat";
	font-weight: 300;
	text-transform:uppercase;
}

.recentPosts__container{
	padding-top: 80px;
	max-width:1170px;
}

.recentPosts__title{
	font-size: 30px;
	color: #555555;
	font-family: "Raleway";
	font-weight: 600;
	margin-bottom: 30px;
}

.recentPosts__description{
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
	font-family: "Montserrat";
	font-weight: 300;
	max-width:770px;
	margin:0 auto;
	margin-bottom: 40px;
	
}

.recentPosts__recentPostsItems{
	/*display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	flex-direction:row;*/
	
	display:grid;
	max-width:1170px;
	margin:0 auto;
	grid-template-rows:repeat(1, 1fr);
	grid-template-columns:repeat(auto-fit,370px);
	justify-content: center;
	grid-gap:30px;
	margin-bottom:140px;	
}


.recentPostsItems__pic{
	height:220px;
	position:relative;
}

.recentPostsItems__pic_first{
	background: url('img/1post.png') no-repeat;
}

.recentPostsItems__pic_second{
	background: url('img/2post.png') no-repeat;
}

.recentPostsItems__pic_third{
	background: url('img/3post.png') no-repeat;
}

.recentPostsItems__text{
	padding: 30px 30px;
	text-align:left;
	background-color: rgba(119,119,119,0);
	outline: 1px solid #f8f8f8;
}

.recentPostsItems__title{
	font-size: 20px;
	color: #555555;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	margin-bottom: 20px;
}

.recentPostsItems__description{
	font-size: 14px;
	line-height: 22px;
	color: #8c8c8c;
	font-family: "Montserrat";
	font-weight: 300;
	margin-bottom: 25px;
}

.recentPostsItems__link{
	font-size: 14px;
	line-height: 20px;
	color: #c7b299;
	font-family: "Montserrat";
	font-weight: 300;
}

.recentPostsItems__date{
	width:50px;
	height:60px;
	position:absolute;
	top:20px;
	left:20px;
	
}

.recentPostColumn__post:hover .recentPostColumn__date{
	color: #ffffff;
}
.recentPostColumn__post:hover .recentPostColumn__description{
	color: #c7b299;
}

.date__digit{
	line-height: 20px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
	background:#363636;
	padding:5px 0px;
	border-radius:3px 3px 0px 0px;
}

.date__month{
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 400;
	text-align: center;
	background:#242424;
	padding:5px 0px;
	border-radius:0px 0px 3px 3px ;
}

.partners__container{
	padding-top:135px;
	padding-bottom: 130px;
	background:url('img/partners.png') 0 65% no-repeat;
	background-size:cover;
	position: relative;
}

.partners__container:after{
	content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(0,0,0,.5);
	  z-index: 2;
	  background-size:cover;
}

.partners__logos{
	display:flex;
	margin:0 auto;
	max-width:1120px;
	justify-content:space-between;
	align-content:center;
	align-items:center;
	flex-wrap:nowrap;
	flex-direction:row;
	position:relative;
	z-index: 3;
}

.partners__logo{
	object-fit:contain;
}

.pageFooter__information{
	background: #191919;
}

.information__container{
	display:grid;
	max-width:1170px;
	color: #555555;
	margin:0 auto;
	grid-template-rows:repeat(1, 1fr);
	grid-template-columns:repeat(auto-fit,270px);
	justify-content: center;
	grid-gap:30px;
	padding-top:80px;
	
}

.information__column{
	text-align:left;
	margin-bottom: 75px;	
}

.logoColumn__logoPic,
.logoColumn__description{
	margin-bottom:25px;
	line-height: 24px;
}

.logoColumn__link{
	font-size: 14px;
	line-height: 20px;
	color: #d1d1d1;
	font-family: "Montserrat";
	font-weight: 400;
}

.information__title{
	font-size: 24px;
	color: #ffffff;
	font-family: "Raleway";
	font-weight: 700;
	padding-top: 30px;
}

.recentPostColumn__post,
.twitterColumn__post{
	padding:20px 0px;
}

.twitterColumn__post:not(:last-child),
.recentPostColumn__post:not(:last-child){
	border-bottom:1px solid #242424;
}

.recentPostColumn__date,
.twitterColumn__time{
	font-size: 12px;
	line-height: 20px;
	color: #363636;
	font-family: "Montserrat";
	font-weight: 300;
}

.highlighted_blue{
	color: #00bff3;
}

.highlighted_grey{
	color:#959595;
}

.widgetColumn__grid{
	display:grid;
	grid-template-rows:repeat(2, 100px);
	grid-template-columns:repeat(2,130px);
	justify-content: center;
	grid-gap:10px;
}

.widgetColumn__picContainer_1Pic{
	background: url('img/widget1.png') -13px -2px no-repeat;
}

.widgetColumn__picContainer_2Pic{
	background: url('img/widget2.png') -19px -86px no-repeat;
}

.widgetColumn__picContainer_3Pic{
	background: url('img/widget3.png') -15px -6px no-repeat;
}

.widgetColumn__picContainer_4Pic{
	background: url('img/widget4.png') -6px -2px no-repeat;
}

.widgetColumn__title{
	margin-bottom:30px;
}

.pageFooter__copyright{
	background: #101010;
}

.copyright__container{
	display:flex;
	justify-content:space-between;
	flex-wrap:no-wrap;
	padding-top:45px;
	max-width:1170px;
	margin:0 auto;
}

.copyright__block{
	display:flex;
	justify-content:space-between;
	margin-bottom:50px;
	color: #555555;
	word-spacing:0;
}

.leftBlock__element{
	padding-right:10px;
	color: #555555;
}

.leftBlock__element:not(:first-child){
	border-left:solid 1px #555555;
	padding-left:10px;
}

.rightBlock__element{
	padding-left:10px;
}

.rightBlock__element:not(:last-child){
	border-right:solid 1px #555555;
	padding-right:10px;
}

.leftBlock__element:not(:first-child):hover{
	color: #c7b199;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.navi{
		display: none;
	}
	
	.cart{
		order: 1;
	}

	.cart__img{
		width: 2em;
	}

	.logo{
		order: 2;
		margin:0 auto;
	}

	.search{
		order: 3;
	}

	.search__img{
		width: 2em;
	}

	.intro__container{
		margin-top: 170px;
	}

	.button{
		font-size: 1.1em;
	}

	.ideas__title {
    font-size: 1.8em;
	}

	.puchaseStripe__text{
		text-align: center;
	}

	.purchaseStripe__title{
		font-size: 32px;
	}

	.puchaseStripe__definition{
		font-size: 20px;
		margin-top: 20px;
	}

	.puchaseStripe__button{
		margin-top: 20px;
	}

	.projects__container{
		width:90%;
	}

	.toggles__button{
		min-width: 90%;
		margin-bottom: 10px;
	}

	/*.posts__item{
		transform: scale(0.5);
	} 
		тут баг с rows-template у .posts
	*/ 
	.mobile__content{
		margin-top: 0;
		width: 90%;
	}
	.mobile__bgimage{
		margin-top: 30px;
		min-width: 280px;
    	min-height: 415px;
	}

	.counters{
		padding-top: 0;
	}

	.counters__item {
	    width: 20%;
	    transform: scale(0.6);
	    margin-bottom: 0;
	}

	.counters__digit{
		font-size: 36px;
	}

	.partners__logo {
	    width: 8em;
	    height: 6em;
	}

	.partners__container{
		padding: 40px 0 40px; 
	}

	.partners__logos{
		flex-wrap: wrap;
	}

	.partners__logo {
	    width: 50%;
	    height: 100px;
	    margin-top: 20px;
	}

	.information__container {
	    grid-template-rows: 300px 420px 330px;
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 20px;
	    width: 90%;
	}
	
	.information__column{
		width: 90%;
		margin: 0 auto;
	}

	
	.information__logoColumn,
	.information__widgetColumn{
		grid-column: 1/3;

	}
	.information__widgetColumn{
		text-align: center;
	}
	
	.copyright__leftBlock,
	.copyright__container{
		flex-wrap: wrap;
	}

	.leftBlock__element{
		width: 90%;
		padding:5px 0 5px;
	}

	.leftBlock__element:not(:first-child){
		border: none;
	}

	.copyright__rightBlock,
	.copyright__leftBlock{
		margin: 0 auto;
		justify-content: space-around;
	}

	.copyright__rightBlock{
		margin-top: 20px;
	}

	.rightBlock__element{
		padding: 0 10px;
	}
}
