*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}

.container{
	margin: 0 auto;
	text-align: center;
}

.pageHeader__container{
	max-width: 1190px;
	height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	max-width: 200px;
	margin-right: 220px;
}


.naviList{
	display: flex;
	flex-wrap: wrap;

}

.naviElement{
	text-align: center;
	margin-right: 30px;
	flex: 1 1 auto;
	white-space:nowrap;
	font-size: 14px;
	color:#ffffff;
	word-wrap: normal;
	font-family: 'Montserrat', sans-serif;
}
.naviElement:last-child{
	margin-right: 60px;
}

.cart{
	margin-right: 22px;
}


.headerLayout{
	height: 1024px;
	background: url('img/bgPhoto.png') center center no-repeat;
	background-size: cover;
}

.intro__container{
	margin-top: 275px;
	text-align: center;
	color:#fff;
	font-family: 'Raleway', sans-serif;
}

.topText{
	
	font-size: 36px;
	font-weight: 400;
}
.middleText{
	margin-top: 20px;

	font-weight: 800;
	font-size: 52px;
}
.bottomText{
	max-width: 570px;
	margin: 0 auto;
	margin-top: 25px;
	font-weight: 300;
}

.button{
	padding:20px 35px;
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 800;
	background-color: #998675;
	text-transform: uppercase;
	border-radius: 5px;
	color:#fff;
	
}

.intro__button {
	margin-top: 55px;
}
.services{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 90px;
}

.services__item{
	margin-top: 75px;
	max-width: 275px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 25px;
}


.services__img{

}

.services__title{
	font-size: 22px;
	font-weight: 600;
	margin-top: 25px;
	color: #555555;
}

.services__description{
	margin-top: 20px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #8c8c8c;
}

.ideas{
	font-family: 'Raleway', sans-serif;
	height: 705px;
	background: url('img/ideasbg.png') 50% 240px no-repeat;
	background-color: #fbfaf8;
	padding-top:80px ;

	box-sizing: border-box;
}

.ideas__text{
	max-width: 775px;
	margin: 0 auto;
}

.ideas__title{
	font-size: 30px;
	font-weight: 600;
	color: #555555;
	margin-bottom: 30px;
}

.ideas__description{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #999999;
	font-size: 16px;
	max-width: 765px;
	margin: 0 auto;
	line-height: 28px;

}

.puchaseStripe{
	color:#fff;
}

.puchaseStripe__title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 28px;
}

.puchaseStripe__colored{
	color: #847464;
}	

.puchaseStripe__definition{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #615855;
}

.puchaseStripe{
  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  min-width: 100%;
  min-height: 150px;
  
}

.purchaseStripe__container{
	padding-top: 45px;
display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  align-content:center;
}

.puchaseStripe__button{
	margin-top:0;
	font-size: 14px;
	padding:18px 27px;
}

.puchaseStripe__text{
	text-align:left;
}

.projects__title{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #555555;
	margin-top: 80px;
}

.projects__description{
	max-width: 770px;
	margin:0 auto;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: #8c8c8c;	
	font-weight: 300;
	text-align: center;
	margin-top: 28px;
	line-height: 28px;
}

.toggles {
	margin:40px auto;
	max-width:605px;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	
}

.toggles__button{
	min-width: 70px;
	padding:10px 16px;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: #8c8c8c;
	font-weight: 300;
	background:transparent;
	text-transform:capitalize;
	border:none;
	outline:solid 1px #ebebeb;
}

.toggles__button:hover{
	background-color: #998575;
	color:#fff;
}

.posts{
	display:grid;
	max-width:1170px;
	margin:0 auto;
	grid-template-rows:repeat(2, 1fr);
	grid-template-columns:repeat(auto-fit,370px);
	justify-content: center;
	grid-gap:30px;	
}

.posts__item{
	width:370px;
	
}

.item__bg{
	height:235px;
}

.item__bg:after{
	content: ''; 
    position: relative; 
    left: -150px; 
    bottom:-206px;
	border: 15px solid transparent; 
    border-bottom: 12px solid #fff; 
}

.item__bg_1pic{
	background: url('img/project1.png') 0 -15px no-repeat;
}

.item__bg_2pic{
	background: url('img/project2.png') -15px -43px no-repeat;
}

.item__bg_3pic{
	background: url('img/project3.png') -11px -6px no-repeat;
}

.item__bg_4pic{
	background: url('img/project4.png') -17px -119px no-repeat;
}

.item__bg_5pic{
	background: url('img/project5.png') -10px -19px no-repeat;
}

.item__bg_6pic{
	background: url('img/project6.png') -17px -14px no-repeat;
}


.item__text{
	text-align: left;
	padding:29px 25px;
}


.item__title{
	font-size: 20px;
	color: #c7b299;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.item__description{
	font-size: 14px;
	color: #d1d1d1;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.projects__button{
	padding: 18px 43px;
	margin-top: 40px;
	margin-bottom: 80px;
}

.presentation__container{
	padding-top:210px;
	background: url('img/presentationBg.png') center -140px no-repeat;
	background-size: cover;
	padding-bottom: 260px;
}

.presentation__content{
	max-width:570px;
	/* background: rgba(99,107,114,0.5);*/
}

.presentation__playButton{
	margin-bottom: 40px;
}

.presentation__title{
	margin-bottom: 25px;
	font-size: 30px;
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.presentation__description{
	font-size: 16px;
	line-height: 28px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.mobile__container{
	display:flex;
	max-width:1130px;
	justify-content:space-around;
	flex-wrap:wrap;
	margin-top: 75px;
}

.mobile__bgimage{
	background:url('img/mobilebg.png') no-repeat;
	background-size:cover;
	min-width:450px;
	min-height:615px;
}

.mobile__content{
	max-width:665px;
	text-align:left;
	margin-top: 115px;
}

.mobile__title{
	font-size: 30px;
	color: #555555;
	font-family: "Raleway";
	font-weight: 600;
	margin-bottom: 38px;
}

.mobile__description{
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
	font-family: "Montserrat";
	font-weight: 300;
	margin-bottom: 40px;
}


.mobile__list{
	display:flex;
	flex-direction:column;
	line-height: 32px;	
	margin-left:50px;
}

.mobile__listEl{
	background: url('img/04.png') 0px 50% no-repeat;
	padding-left:50px;
	font-size: 16px;
	color: #8c8c8c;
	font-family: "Montserrat";
	font-weight: 300;
}

.counters{
	background-image: linear-gradient(90deg, #211b19 0%, #4e3326 100%);
	padding-top: 65px;
}

.counters__container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	max-width:950px;
}

.counters__item{
	width:180px;
	margin-bottom: 90px;
}

.counters__img{
	margin-bottom: 25px;
}

.counters__digit{
	font-size: 48px;
	line-height: 36px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 300;
	margin-bottom: 20px;
}

.counters__description{
	font-size: 14px;
	line-height: 20px;
	color: #c7b299;
	font-family: "Montserrat";
	font-weight: 300;
	text-transform:uppercase;
}

.recentPosts__container{
	padding-top: 80px;
	max-width:1170px;
}

.recentPosts__title{
	font-size: 30px;
	color: #555555;
	font-family: "Raleway";
	font-weight: 600;
	margin-bottom: 30px;
}

.recentPosts__description{
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
	font-family: "Montserrat";
	font-weight: 300;
	max-width:770px;
	margin:0 auto;
	margin-bottom: 40px;
	
}

.recentPosts__recentPostsItems{
	/*display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	flex-direction:row;*/
	
	display:grid;
	max-width:1170px;
	margin:0 auto;
	grid-template-rows:repeat(1, 1fr);
	grid-template-columns:repeat(auto-fit,370px);
	justify-content: center;
	grid-gap:30px;
	margin-bottom:140px;	
}

.recentPostsItems__item{
	width:370px;
		
}

.recentPostsItems__pic{
	height:220px;
	position:relative;
}

.recentPostsItems__pic_first{
	background: url('img/1post.png') no-repeat;
}

.recentPostsItems__pic_second{
	background: url('img/2post.png') no-repeat;
}

.recentPostsItems__pic_third{
	background: url('img/3post.png') no-repeat;
}

.recentPostsItems__text{
	padding: 30px 30px;
	text-align:left;
	background-color: rgba(119,119,119,0);
	border: 1px solid #f8f8f8;
}

.recentPostsItems__title{
	font-size: 20px;
	color: #555555;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	margin-bottom: 20px;
}

.recentPostsItems__description{
	font-size: 14px;
	line-height: 22px;
	color: #8c8c8c;
	font-family: "Montserrat";
	font-weight: 300;
	margin-bottom: 25px;
}

.recentPostsItems__link{
	font-size: 14px;
	line-height: 20px;
	color: #c7b299;
	font-family: "Montserrat";
	font-weight: 300;
}

.recentPostsItems__date{
	width:50px;
	height:60px;
	position:absolute;
	top:20px;
	left:20px;
	
}

.date__digit{
	line-height: 20px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 300;
	text-align: center;
	background:#363636;
	padding:5px 0px;
	border-radius:3px 3px 0px 0px;
}

.date__month{
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 400;
	text-align: center;
	background:#242424;
	padding:5px 0px;
	border-radius:0px 0px 3px 3px ;
}


.partners__container{
	padding-top:135px;
	padding-bottom: 130px;
	background:url('img/partners.png') 0px -400px no-repeat;
	background-size:cover;
	position: relative;
}

.partners__container:after{
	content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(0,0,0,.5);
	  z-index: 2;
	  background-size:cover;
}

.partners__logos{
	display:flex;
	margin:0 auto;
	max-width:1120px;
	justify-content:space-between;
	flex-wrap:no-wrap;
	flex-direction:row;
}

.partners__logo{
	object-fit:contain;
}