/* COMMON STYLES */

*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}

.container{
	margin: 0 auto;
	text-align: center;
	max-width:1170px;
	width: 100%;
	padding:0 2%;
	box-sizing:border-box;
}

.container_flexbox{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}

.container_grid{
	display: grid;
	justify-items:center; 
    justify-content: center;
}

.title{
	color: #555555;
	font-family: 'Raleway', sans-serif;
}

.description{
	font-family: 'Montserrat', sans-serif;
	color: #8c8c8c;
}

.title_white{
	color: #ffffff;
}

.description_white{
	color: #ffffff;
}

/* HEADER */

.pageHeader{
	flex-wrap: nowrap;
	align-items: center;
	padding:25px 0;
}

.logo{
	max-width: 200px;
	margin-right: 15%;
}

.navi{
	margin-right: 5%;
	flex-grow:2;
}

.naviList{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;	
}

.naviElement{
	text-align: center;
	flex: 1 1 auto;
	white-space:nowrap;
	word-wrap: normal;
	padding:0 1%;
}

.naviLink{
	font-size: 14px;
	color: #ffffff;
	font-weight: 300;
}

.naviLink:hover{
	color: #c7b299;
}

.naviLink:active {
	color: #ffffff;
}

.cart{
	margin-right: 2%;
}

.header__wrapper{
	background: url('img/bgPhoto.png') center center no-repeat;
	background-size: cover;
	padding-bottom: 15%;
}

.intro{
	margin-top: 275px;
}

.topText{
	font-size: 36px;
	font-weight: 400;
	
}
.middleText{
	margin-top: 20px;
	font-weight: 800;
	font-size: 52px;
}
.bottomText{
	margin-top: 25px;
	font-weight: 300;
	line-height: 24px;
	font-size: 16px;

}

.button{
	padding:20px 35px;
	font-size: 14px;
	font-weight: 800;
	background-color: #998675;
	text-transform: uppercase;
	border-radius: 5px;
	border:none;
	outline:none;
	text-decoration: none;
	color:#fff;
}

.button:hover{
	box-shadow:0 0 20px #998675;
	transition:0.3s;
}

.button:active{
	color: #c7b299;
	transition:0s;
	border-color:transparent;
}

.intro__button {
	margin-top: 55px;
}

/* SERVICES SECTION */

.services{
	width:100%;
	padding-bottom: 90px;
}

.services__container{
	justify-content: space-around;
	max-width:85%;
}

.services__item{
	margin-top: 75px;
	max-width: 275px;
	text-align: center;
}

.services__stripe{
	height:30px;
	width:26%;
	margin:0 auto;
	border-bottom:3px solid #f1eee9;
}

.services__item:hover > .services__title,
.services__item:hover > .services__stripe{
	color: #c7b299;
	border-bottom-color:#c7b199;
}


.services__img{
	height:35px;
	width:44px;
	margin:auto;
}

.services__title{
	font-size: 22px;
	font-weight: 600;
	margin-top: 25px;
}

.services__description{
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
}

/* IDEAS SECTION */

.ideas{
	background-color: #fbfaf8;
	padding-top:80px ;
}

.ideas__text{
	padding-bottom: 70px;
	max-width:70%;
}

.ideas__container{
	grid-template-columns:auto;
	grid-template-rows:repeat(2, auto);
}

.ideas__title{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}

.ideas__description{
	font-weight: 300;
	color: #999999;
	font-size: 16px;
	line-height: 28px;
}

.ideas__image{
	width:90%;
	margin:0 auto;
}

/* PURCHASE STRIPE SECTION */

.purchaseStripe__title{
	font-weight: 400;
	font-size: 28px;
}

.purchaseStripe__title_colored{
	color: #847464;
}	

.purchaseStripe__definition{
	font-weight: 300;
	font-size: 18px;
	color: #615855;
}

.purchaseStripe{
  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  padding:45px 0;
}

.purchaseStripe__container{
  justify-content: space-around;
}

.purchaseStripe__button{
	padding:18px 27px;
}

.purchaseStripe__text{
	text-align:left;
}

/* PROJECTS SECTION */

.projects__container{
	padding-top:80px;
	max-width: 90%;
}
.projects__title{
	font-weight: 600;
	font-size: 30px;
}

.projects__description{
	max-width: 60%;
	margin:0 auto;
	font-size: 16px;
	font-weight: 300;
	margin-top: 28px;
	line-height: 28px;
}

.toggles {
	margin:20px auto;
	max-width:50%;
	justify-content:space-around;
	padding: 10px 0;
	
}

.toggles__button{
	min-width: 70px;
	margin:1% 1%;
	margin-bottom: 10px;
	padding:10px 16px;
	color: #8c8c8c;
	font-weight: 300;
	background:transparent;
	text-transform:capitalize;
	outline:none;
	border:solid 1px #ebebeb;
}

.toggles__button:hover{
	background-color: #998575;
	color:#fff;
	border-color:transparent;
}

.posts{
	max-width:90%;
	grid-template-rows:repeat(2, 1fr);
	grid-template-columns:repeat(auto-fit,370px);
	grid-gap:30px;	
}

.posts__item{
	width:370px;	
}

.posts__item:hover > .item__text{
	background-color:#352f2d;
	transition:0.3s;
}
.posts__item:hover .item__bg:before{
	background: rgba(0,0,0,0.5);
	transition:0.3s;
}

.posts__item:hover .item__title,
.posts__item:hover .recentPostsItems__description{
	color:#fff;
	transition:0.3s;
}

.posts__item:hover .item__description,
.posts__item:hover .recentPostsItems__title{
	color: #c7b299;
	transition:0.3s;
}

.posts__item:hover .item__bg:after{
	border-bottom-color:#352f2d;
	transition:0.3s;
	z-index: 2;
}


.posts__item:hover .date__digit{
	background-color:#c7b199;
	transition:0.3s;
}
.posts__item:hover .date__month{
	background-color:#a48d71;
	transition:0.3s;
}

.item__bg{
	padding:108.5px 0;
	position: relative;
}

.item__bg:after{
	content: ''; 
    position: relative; 
    left: -150px; 
    bottom:-206px;
	border: 15px solid transparent; 
    border-bottom: 12px solid #fff; 
}

.item__bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
}

.item__bg_1pic{
	background: url('img/project1.png') 0 -15px no-repeat;
}

.item__bg_2pic{
	background: url('img/project2.png') -15px -43px no-repeat;
}

.item__bg_3pic{
	background: url('img/project3.png') -11px -6px no-repeat;
}

.item__bg_4pic{
	background: url('img/project4.png') -17px -119px no-repeat;
}

.item__bg_5pic{
	background: url('img/project5.png') -10px -19px no-repeat;
}

.item__bg_6pic{
	background: url('img/project6.png') -17px -14px no-repeat;
}

.item__text{
	text-align: left;
	padding:29px 25px;
}

.item__title{
	font-size: 20px;
	color: #c7b299;
	font-weight: 500;
	margin-bottom: 10px;
}

.item__description{
	font-size: 14px;
	color: #d1d1d1;
	font-weight: 300;
}

.projects__button{
	padding: 18px 43px;
	margin-top: 40px;
	margin-bottom: 80px;
}

/* PRESENTATION SECTION */

.presentation__container{
	padding-top:210px;
	background: url('img/presentationBg.png') center 0 no-repeat;
	background-size: cover;
	padding-bottom: 260px;
	position:relative;
	width:100%;
	max-width: 100%;
}

.presentation__container:after{
	content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(0,0,0,0.5);
	  z-index: 2;
	  background-size:cover;
}

.presentation__content{
	max-width:570px;
	position:relative;
	z-index: 3;
}

.presentation__playButton{
	margin-bottom: 40px;
}

.presentation__title{
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 500;
}

.presentation__description{
	font-size: 16px;
	line-height: 28px;
	color: #ffffff;
	font-weight: 300;
}

/* MOBIE SECTION */

.mobile__container{
	justify-content:space-around;
	flex-wrap:wrap-reverse;
	margin-top: 75px;
	max-width: none;
	width:90%;
}

.mobile__bgimage{
	background:url('img/mobilebg.png') no-repeat;
	background-size:cover;
	min-width:420px;
	min-height:615px;
}

.mobile__content{
	max-width:47%;
	min-width:515px;
	text-align:left;
	margin-top: 115px;
}

.mobile__title{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 38px;
}

.mobile__description{
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	margin-bottom: 40px;
}

.mobile__list{
	flex-direction:column;
	line-height: 32px;	
	margin-left:10%;
}

.mobile__listEl{
	background: url('img/04.png') 0px 50% no-repeat;
	padding-left:50px;
	font-size: 16px;
	font-weight: 300;
}

/* COUNTERS SECTION */

.counters{
	background-image: linear-gradient(90deg, #211b19 0%, #4e3326 100%);
	padding-top: 65px;
}

.counters__container{
	width:70%;
}

.counters__item{
	width:130px;
	margin-bottom: 90px;
	padding:0;
}

.counters__img{
	margin-bottom: 25px;
}

.counters__digit{
	font-size: 48px;
	line-height: 36px;
	font-weight: 300;
	margin-bottom: 20px;
}

.counters__description{
	font-size: 14px;
	line-height: 20px;
	color: #c7b299;
	font-weight: 300;
	text-transform:uppercase;
}

/* RECENT POSTS SECTION */

.recentPosts__container{
	padding-top: 80px;
	max-width:100%;
}

.recentPosts__title{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}

.recentPosts__description{
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	max-width:50%;
	margin:0 auto;
	margin-bottom: 40px;
	
}

.recentPosts__recentPostsItems{
	
	/*display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	flex-direction:row;*/
	grid-template-rows:repeat(1, 1fr);
	grid-template-columns:repeat(auto-fit,370px);
	grid-gap:30px;
	margin-bottom:140px;	
}

.recentPostsItems__pic{
	padding:110px 0;
	position:relative;
}

.recentPostsItems__item:hover .recentPostsItems__pic:after{
	background-color: rgba(0,0,0,0.5);
	transition:0.3s;
}

.recentPostsItems__pic:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
}

.recentPostsItems__pic_first{
	background: url('img/1post.png') no-repeat;
}

.recentPostsItems__pic_second{
	background: url('img/2post.png') no-repeat;
}

.recentPostsItems__pic_third{
	background: url('img/3post.png') no-repeat;
}

.recentPostsItems__text{
	padding: 30px 30px;
	background-color: rgba(119,119,119,0);
	outline: 1px solid #f8f8f8;
}

.recentPostsItems__title{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.recentPostsItems__description{
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	margin-bottom: 25px;
}

.recentPostsItems__link{
	font-size: 14px;
	line-height: 20px;
	color: #c7b299;
	font-weight: 300;
}

.recentPostsItems__date{
	width:50px;
	height:60px;
	position:absolute;
	top:20px;
	left:20px;
	z-index:2;
}

.recentPostColumn__post:hover .recentPostColumn__date{
	color: #ffffff;
}
.recentPostColumn__post:hover .recentPostColumn__description{
	color: #c7b299;
}

.date__digit{
	line-height: 20px;
	font-weight: 300;
	text-align: center;
	background:#363636;
	padding:5px 0px;
	border-radius:3px 3px 0px 0px;
}

.date__month{
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	background:#242424;
	padding:5px 0px;
	border-radius:0px 0px 3px 3px ;
}

/* PARTNERS SECTION */

.partners__container{
	padding-top:135px;
	padding-bottom: 130px;
	background:url('img/partners.png') 0 65% no-repeat;
	background-size:cover;
	position: relative;
	max-width:100%;
}

.partners__container:after{
	content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(0,0,0,.5);
	  z-index: 2;
	  background-size:cover;
}

.partners__logos{
	align-content:center;
	align-items:center;
	flex-wrap:nowrap;
	position:relative;
	z-index: 3;
}

.partners__logo{
	object-fit: contain;
}

.pageFooter__information{
	background: #191919;
}

/* FOOTER BLOCKS*/

.information__container{
	grid-template-rows:repeat(1, 1fr);
	grid-template-columns:repeat(auto-fit,270px);
	grid-gap:30px;
	padding-top:80px;
	max-width:100%;
}

.information__column{
	text-align:left;
	margin-bottom: 75px;	
}

.logoColumn__description{
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}

.logoColumn__logoPic,
.logoColumn__description{
	margin-bottom:25px;
	line-height: 24px;
}

.logoColumn__link{
	font-size: 14px;
	line-height: 20px;
	color: #d1d1d1;
	font-weight: 400;
}

.information__title{
	font-size: 24px;
	font-weight: 700;
	padding-top: 30px;
}

.recentPostColumn__post,
.twitterColumn__post{
	padding:20px 0px;
}

.twitterColumn__post:not(:last-child),
.recentPostColumn__post:not(:last-child){
	border-bottom:1px solid #242424;
}

.recentPostColumn__description,
.twitterColumn__definition{
	font-size: 14px;
	line-height: 20px;
	color: #555555;
}

.recentPostColumn__date,
.twitterColumn__time{
	font-size: 12px;
	line-height: 20px;
	color: #363636;
	font-weight: 300;
}

.highlighted_blue{
	color: #00bff3;
}

.highlighted_grey{
	color:#959595;
}

.widgetColumn__grid{
	grid-template-rows:repeat(2, 100px);
	grid-template-columns:repeat(2,130px);
	grid-gap:10px;
	justify-items: stretch;
}

.widgetColumn__picContainer_1Pic{
	background: url('img/widget1.png') -13px -2px no-repeat;
}

.widgetColumn__picContainer_2Pic{
	background: url('img/widget2.png') -19px -86px no-repeat;
}

.widgetColumn__picContainer_3Pic{
	background: url('img/widget3.png') -15px -6px no-repeat;
}

.widgetColumn__picContainer_4Pic{
	background: url('img/widget4.png') -6px -2px no-repeat;
}

.widgetColumn__title{
	margin-bottom:30px;
}

/* FOOTER COPYRIGHT*/

.pageFooter__copyright{
	background: #101010;
}

.copyright__container{
	align-items: center;
	width:auto;
	padding:45px 0 50px;
}

.copyright__block{
	color: #555555;
	word-spacing:0;
}

.copyright__leftBlock{
	margin:0;
}

.leftBlock__element{
	padding-right:10px;
	font-size: 13px;
    line-height: 20px;
	color: #555555;
}

.leftBlock__element:not(:first-child){
	border-left:solid 1px #555555;
	padding-left:10px;
}

.rightBlock__element{
	padding-left:10px;
}

.rightBlock__element:not(:last-child){
	border-right:solid 1px #555555;
	padding-right:10px;
}

.leftBlock__element:not(:first-child):hover{
	color: #c7b199;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	*{overflow-x:hidden}
	
	/* HEADER */
	
	.pageHeader{
		padding:25px 5%;
	}
	
	.navi{
		display: none;
	}
	
	.cart{
		order: 1;
	}

	.cart__img,
	.search__img{
		width: 1.5em;
	}

	.logo{
		order: 2;
		margin:0 auto;
	}

	.search{
		order: 3;
	}
	
	.intro{
		margin-top:0;
	}
	
	.intro__container{
		padding-top:25%;
	}

	.topText{
		font-size:20px;
	}
	
	.middleText{
		font-size:30px;
	}
	
	.bottomText{
		font-size: 14px;
	}
	
	.button{
		font-size: 16px;
	}

	.intro__button{
		margin-top:100px;
		margin-bottom:50px;
	}
	
	/* SERVICES SECTION */
	
	.services{
		padding-bottom: 20px;
	}
	
	.services__container{
		max-width:98%;
	}
	
	.services__item{
		width:45%;
		margin-top:30px;
	}
	
	.services__title{
		font-size: 16px;
	}
	
	.services__description{
		font-size: 11px;
	}
	
	.services__img{
		height: 19%;
		width: 28%;
	}
	
	/* IDEAS SECTION */
	
	.ideas{
		padding-top: 40px;
	}
	
	.ideas__title {
		font-size: 26px;
	}
	
	.ideas__description{
		font-size: 15x;
	}

	.ideas__text{
		max-width: 95%;
	}
	
	/* PURCHASE STRIPE SECTION */
	
	.purchaseStripe{
		padding:15px 0 30px;
	}
	
	.purchaseStripe__text{
		text-align: center;
	}

	.purchaseStripe__title{
		font-size: 26px;
	}

	.purchaseStripe__definition{
		font-size: 16px;
		margin-top: 20px;
	}

	.purchaseStripe__button{
		margin-top: 20px;
		padding: 18px 24px;
	}

	/* PROJECTS SECTION */
	
	.projects__container{
		padding-top: 40px;
		width:90%;
	}

	.projects__description{
		max-width:100%;
		font-size: 14px;
	}
		
	.toggles{
		max-width:100%;
	}	
		
	.posts__item{
		width:90%;
	}	
	
	.item__bg:before {
		top: 0%;
		left: 0%;
		right: 0%;
		bottom: 0%;
	}
	
	.item__bg:after{
		left: -100px;
		bottom: -97px;
	}
	
	.item__text{
		text-align:center;
	}
	
	.toggles__button{
		min-width: 90%;
		margin-bottom: 10px;
	}

	/* PRESENTATION SECTION */
		
	.presentation__container{
		padding-top: 100px;
		padding-bottom: 100px;
	}	
	
	/* MOBILE SECTION */
	
	.mobile__content{
		margin-top: 0;
		max-width: 98%;
		min-width: 90%;
	}
	.mobile__title{
		text-align:center;
		font-size:26px;
	}
	
	.mobile__description{
		line-height: 24px;
		text-align:center;
	}
	
	.mobile__bgimage{
		margin-top: 30px;
		min-width: 280px;
    	min-height: 415px;
	}

	.mobile__list{
		margin-left:0;
		line-height: 22px;
	}
	
	.mobile__listEl{
		padding-left: 10%;
		font-size: 14px;
		margin-bottom: 10px;
	}
	
	/* COUNTERS SECTION */
	
	.counters{
		padding-top: 0;
	}

	.counters__container{
		width:100%;
	}
	
	.counters__item {
	    width: 20%;
	    transform: scale(0.7);
	    margin-bottom: 0;
	}

	.counters__digit{
		font-size: 26px;
		margin-bottom:5px;
	}

	/* RECENT POSTS SECTION */
	
	.recentPosts__container{
		padding-top: 30px;
	}
	
	.recentPosts__description{
		max-width: 90%;
	}
	
	.recentPosts__recentPostsItems{
		margin-bottom: 60px;
	}
	
	.partners__logo {
	    width: 8em;
	    height: 6em;
	}

	.partners__container{
		padding: 40px 0 40px; 
	}

	.partners__logos{
		flex-wrap: wrap;
	}

	.partners__logo {
	    width: 50%;
	    height: 100px;
	    margin-top: 20px;
	}

	
	
	.information__container {
	    grid-template-rows: auto auto auto;
		grid-template-columns: auto auto;
		grid-gap: 20px;
	    width: 90%;
		padding-bottom:30px;
	}
	
	.information__column{
		width: 90%;
		margin: 0 auto;
	}

	/* FOOTER SECTION */
	
	.information__logoColumn,
	.information__widgetColumn{
		grid-column: 1/3;

	}
	.information__widgetColumn{
		text-align: center;
	}
	
	.copyright__leftBlock,
	.copyright__container{
		flex-wrap: wrap;
	}

	.leftBlock__element{
		width: 90%;
		padding:5px 0 5px;
	}

	.leftBlock__element:not(:first-child){
		border: none;
	}

	.copyright__rightBlock,
	.copyright__leftBlock{
		margin: 0 auto;
		justify-content: space-around;
	}

	.copyright__rightBlock{
		margin-top: 20px;
		justify-content:space-around;
	}

	.rightBlock__element{
		width:140px;
		padding:0;
		
	}
	
	.rightBlock__element:not(:last-child){
		padding-right: 1px;
	}
}
